* {
    margin: 0;
    padding: 0;
}



#image {
    background-image: url(../images/7a0dc24f568b81a39ba1ce797f65d355.jpg);
    background-size: cover;
    width: 100vw;
    height: 100vh;
    filter: blur(5px);
    -webkit-filter: blur(5px);
}

#video {
    position: absolute;
    top: 0;
    height: 100vh;
    width: 100vw;
}

#video video {
    height: 58vh;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid white;
}

#controls {
    height: 58vh;
    width: 50vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    box-sizing: border-box;
    visibility: hidden;
}

#controls input {
    height: 4vh;
    width: 2vw;
    margin-right: 2px;
    padding: 6px;
    background: rgba(35, 35, 35, 0.7);
    border: 0.5px solid black;
    border-radius: 40%;
    position: relative;
    top: 98%;
    transform: translateY(-100%);
}

#controls input:hover {
    background-color: white;
}

span{
    font-size: 3em;
    position: absolute;
    color: #de6943;
    top:2%;
    left: 1%;
    font-family: attack;
}


@media only screen and (max-width:500px) and (max-height: 900px) {
    #video video {
        height: 200px;
    }

    #controls {
        height: 200px;
    }
    span{
        font-size:2em;
    }
}
