@font-face {
    font-family: "fontep";
    src: url("../fonts/fontes/Shadow.ttf") format("truetype"),
        url("../fonts/fontes/Shadow\ Over.ttf") format("truetype"),
        url("..//fonts/fontes/Deep\ Shadow\ Under.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "fonte2";
    src: url("../fonts/fontes/Freshman.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "goku";
    src: url(../fonts/fontes/Saiyan-Sans.ttf) format("truetype"),
         url(../fonts/fontes/Saiyan-Sans\ Left\ Oblique.ttf) format("truetype"),
         url(../fonts/fontes/Saiyan-Sans\ Right\ Oblique.ttf) format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "naruto";
    src: url(../fonts/fontes/njnaruto.ttf) format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "pokemon";
    src: url(../fonts/fontes/Pokemon\ Hollow.ttf) format("truetype"),
         url(../fonts/fontes/Pokemon\ Solid.ttf) format("truetype");
    font-weight: normal;
    font-style: normal;     
}

@font-face {
    font-family: "shingeki";
    src: url(../fonts/fontes/Ancient\ Medium.ttf) format("truetype");
    font-weight: normal;
    font-style: normal;
}